# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/

# Environments
.venv/
venv/
ENV/
env/
.env

# Results / data
results/
reports/
*.db
*.sqlite
*.parquet
*.csv
moex_bot/config.d/secrets.yaml

# Jupyter
.ipynb_checkpoints/
nul
